body {
  font-family: "trebuchet MS", Arial;
  font-size: 14px;
  width: 500px;
}

p {
  border: 1px solid black
  height: 200px;
  width: 300px;
}

.float {
  border: 1px solid black;
  position: absolute;
  right: 50px;
  height: 100px;
  width: 100px;
  padding: 10px;
}
